* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#outputDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  box-sizing: border-box;
 
}


#textInput {
  width: 100%;
  height: 100%;
  max-width: 800px;
  height: 400px;
  overflow: auto;
  resize: none
}

#extractVocabBtn {
  display: flex;
  justify-content: left;
  margin-left: 20px;

}

.controls{
  display: flex;
  justify-content: center;
  
}

button {
  padding: 10px 20px; /* Add padding for better visual appearance */
    font-size: 16px; /* Set font size */
    /* Allow button to expand or shrink based on content */
    width: auto;
    height: auto;
    margin-left: 15px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 0.5rem;
}

#saveStudyListBtn{
   justify-content: center;
}
.word {
  padding: 5px 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.word:hover {
  background-color: #e0e0e0;
}

.word-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}
